body {
    font-family: Montserrat, sans-serif!important;
}
.bg-advant {
    background: url("/images/bg-advant.png");
    background-size: cover;
}
.bg-service img {
    width: 100%;
}
.bg-service2 img {
    width: 95%;
    height: 68%;
}
#faq {
    background: url("/images/algoritm.png");
    background-size: cover;
}
.bg-footer {
    background-color: #2B3448;
}
.fw-700 {
    font-weight: 700!important;
    font-family: Montserrat, sans-serif!important;
}

#about {
    background-color: #b2d4e9;
    position: relative;
    padding-top: 50px;
}
#structure {
    background-color: #f9f9fd;
    position: relative;
}
#structure .card {
    height: 320px;
}
#structure .card h5 {
    text-align: center;
}
.accordion-item {
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 25px;
    cursor: pointer;
}
.docs {
    background: white;
    border-radius: 24px;
}
.service-img img {
    margin-right: 15px;
    height: -moz-fit-content;
}

.logo-light {
    height: 70px;position: absolute;top: 5px
}
.logo-dark {
    height: 55px;position: absolute;top: 5px
}



@media only screen and (max-width: 450px){
    .d-sm-none {display: none}
    .section {
        padding: 20px 0!important;
    }
    .bg-service2 img {
        width: 100%!important;
    }
    .adv img {
        width: 100%;
        height: -moz-available;
    }

    .m-p-0 {
        padding: 0!important;
    }
    .m-m-0 {
        margin: 0!important;
    }
    .m-mt-40 {
        margin-top: 40px;
    }
    .m-pt-30 {
        padding-top: 30px;
    }
    .bg-service img {
        width: 97%;
        height: 88%;
    }
    .logo-dark {
        height: 35px;
    }
    .mb-sm-2 {
        margin-bottom: 20px;
    }
}
